<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Theguardian"
        tools:targetApi="31">

       <activity
            android:name=".CameraActivity"
            android:exported="false" />
       <activity
            android:name=".EncerrarLocScreen"
            android:exported="true" />
        <activity
            android:name=".ConfirmarUsuario"
            android:exported="false" />
        <activity
            android:name=".ReadNfc"
            android:exported="false" />
        <activity
            android:name=".LiberarLocScreen"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".WriteNfc"
            android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QrCodeScreen"
            android:exported="false" />
        <activity
            android:name=".DataScreen"
            android:exported="true" />
        <activity
            android:name=".homeScreen"
            android:exported="true" />
        <activity
            android:name=".RegisterCreditCard"
            android:exported="true" />
        <activity
            android:name=".HomeGerente"
            android:exported="true" />
        <activity
            android:name=".loginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".registerScreen"
            android:exported="true" />
    </application>

</manifest>